@model Report.Models.Rent_Buy

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <br>
    <h2 class="text-center">Chi tiết bài viết</h2>

    <hr>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Tên bài</th>
                <td>@Html.DisplayFor(model => model.RentBuyName)</td>
            </tr>
            <tr>
                <th>Thông tin mô tả</th>
                <td>@Html.DisplayFor(model => model.RentBuyDescription)</td>
            </tr>
            <tr>
                <th>Tỉnh/Thành Phố	</th>
                <td>@Html.DisplayFor(model => model.RentBuyProvince)</td>
            </tr>
            <tr>
                <th>Giá</th>
                <td>@Html.DisplayFor(model => model.RentBuyPrice)</td>
            </tr>
            <tr>
                <th>Diện tích	</th>
                <td>@Html.DisplayFor(model => model.RentBuyArea)</td>
            </tr>
            <tr>
                <th>Số điện thoại	</th>
                <td>@Html.DisplayFor(model => model.RentBuyPhone)</td>
            </tr>
            <tr>
                <th>Ảnh mô tả	</th>
                <td>
                    @Html.DisplayFor(model => model.RentBuyImage)<br>
                    @Html.DisplayFor(model => model.RentBuyImage1) <br>
                    @Html.DisplayFor(model => model.RentBuyImage2)
                </td>
            </tr>

            <tr>
                <th>Trạng thái	</th>
                <td>@Html.DisplayFor(model => model.RentBuyStatus)</td>
            </tr>
            <tr>
                <th>Phân loại	</th>
                <td>@Html.DisplayFor(model => model.Category.CategoryName)</td>
            </tr>
            <tr>
                <th>Người đăng</th>
                <td>@Html.DisplayFor(model => model.UserId)</td>
            </tr>
        </tbody>
    </table>

    <div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.RentBuyId" class="btn btn-success">Edit</a>
            <a asp-action="Index" class="btn btn-success">Back</a>
        </div>
    </div>
</body>
</html>